---
import Layout from '@layouts/Layout.astro'

const title = '404'
---

<Layout pageTitle={title}>
    <div class="prose dark:prose-invert mx-auto">
        <h1 class="text-5xl md:text-6xl">{title} 🦦</h1>
        Ups! Diese Seite konnte nicht gefunden werden.
    </div>
</Layout>