---
import Layout from '@layouts/Layout.astro'

const pageTitle = 'Impressum'
---

<Layout pageTitle={pageTitle}>

    <div class="prose dark:prose-invert mx-auto">
        <h1>{pageTitle}</h1>

        <p>
            § 5 TMG <br>
            André Stafast <br>
            Kleinunternehmen - IT-Dienstleistungen<br>
            Stettiner Str. 22<br>
            24537 Neumünster
        </p>
    </div>

</Layout>