---
import Layout from '@layouts/Layout.astro'

const pageTitle = 'Leistungen'
const description = 'Professionelle Webentwicklung und Anwendungsentwicklung mit Astro, JavaScript, Vue.js, Nuxt.js, TYPO3, WordPress.'
---

<Layout pageTitle={pageTitle} pageDescription={description}>

    <div class="mx-auto max-w-prose">
        <h1 class="text-3xl">Meine Leistungen</h1>

        <div class="my-10 md:mb-16">

            <h2 class="mt-5 text-xl">Entwicklung</h2>
            <p>Ich entwickle benutzerfreundliche und ästhetische Websites und Anwendungen mit modernsten Technologien wie zum Beispiel
                <a href="/blog/tags/astro/">Astro</a>, Nuxt.js, TYPO3, WordPress – immer individuell auf deine
                Anforderungen zugeschnitten.
            </p>

            <h3 class="mt-5 text-xl">Technische Konzeption</h3>
            <p>Ich kümmere mich um die technische Basis deines Projekts: von der Wahl eines geeigneten
                Technologie-Stacks bis zur Planung von Skalierbarkeit und Performance. Ziel ist eine zukunftssichere
                Lösung, die perfekt auf deine aktuellen Bedürfnisse und das geplante Wachstum abgestimmt ist.
            </p>

            <h3 class="mt-5 text-xl">Beratung für digitale Strategien</h3>
            <p>Ich helfe dir, digitale Strategien zu entwickeln und Marketingmaßnahmen effektiv umzusetzen, damit deine
                Online-Präsenz nachhaltig wächst.</p>

            <h3 class="mt-5 text-xl">SEO-Optimierung</h3>
            <p>Steigere deine Sichtbarkeit bei Google durch gezielte Suchmaschinenoptimierung – für mehr Reichweite und
                besseren Traffic.</p>

            <h3 class="mt-5 text-xl">Technische Betreuung</h3>
            <p>Laufende Wartung, Updates und Fehlerbehebung für deine Website.</p>
        </div>

        <div class="my-10 md:mb-16 text-center">
            <a class="bg-emerald-500 hover:bg-emerald-700 text-white hover:text-white py-2.5 px-5 transition-all"
               href="/kontakt/" title="Kontaktieren">Jetzt Kontakt aufnehmen</a>
        </div>


    </div>

</Layout>