---

---

<footer class="print:!hidden">
    <div class="container my-16">
        <p class="mb-4 sm:mb-6 sm:text-center text-sm">
            Built with <a href="https://astro.build">Astro</a> and hosted on <a href="https://www.cloudflare.com">Cloudflare edge</a>
        </p>
        <ul class="flex sm:justify-center gap-6 text-xs">
            <li>
                <a class="text-stone-500 dark:text-stone-400" href="/datenschutz/">Datenschutz</a>
            </li>
            <li>
                <a class="text-stone-500 dark:text-stone-400" href="/impressum/">Impressum</a>
            </li>
        </ul>
    </div>
</footer>

<script defer is:inline type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//matomo.stafast.net/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>